<?xml version="1.0" encoding="UTF-8"?>

<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    colors                      = "true"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    processIsolation            = "false"
    stopOnFailure               = "true"
    syntaxCheck                 = "false"
    bootstrap                   = "bootstrapQC.php" >

    <testsuites>
        <testsuite name="CK Verification Test Suite">
          <!--<directory suffix="Test.php" phpVersion="5.3.0" phpVersionOperator=">=">/home/venkatv/ckqc/tests</directory>-->
          <file phpVersion="5.3.0" phpVersionOperator=">=">/home/venkatv/ckqc/tests/RevenueReportPriceTest.php</file>
        </testsuite>
    </testsuites>

    <listeners>
        <listener class="SPE\Core\BaseTestListener">
            <arguments>
                <array>
                    <element key="slowThreshold">
                        <integer>500</integer>
                    </element>
                    <element key="reportLength">
                        <integer>5</integer>
                    </element>
                </array>
            </arguments>
        </listener>
    </listeners>

    <filter>
        <whitelist>
            <directory>tests/*</directory>
            <exclude>
                <directory>src/*/Tests</directory>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
